*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    background-color: aqua;
    width: 50vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.box{
    background-color: bisque;
    width: 10vw;
    height: 10vh;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    /* transition: all 3s; */
    transition: transform 3s ease-in-out 0s;
}
.box:hover{
    /* background-color: black; */
    border-radius: 100px;
    transform: translateX(125px);
    transform: translateY(-125px);
    transform: translate(125px -125px);
    transform: skew(-40deg);
    transform: scale(5);
    transform: rotateX(360deg);

}