*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    background-color: grey;
    color: white;
}

.left {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0 5px 0;

    

}


.left select {
    width: 120px;
    height: 50px;
    background-color: gray;
    color: white;
    border: 0;
    margin-left: 10PX;
}


.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stores {
    display: flex;
    margin: 0px 20px 0px 0px;
    justify-content: center;
    align-items: center;
    border-right: 2px solid white;
    padding-right: 20px;
}

.contact {
    display: flex;
    margin: 0px 20px 0px 0px;
    justify-content: center;
    align-items: center;
    border-right: 2px solid white;
    padding-right: 20px;

}

.login {
    display: flex;
    margin: 0px 20px 0px 0px;
    justify-content: center;
    align-items: center;
    border-right: 2px solid white;
    padding-right: 20px;

}

.heart {
    margin-right: 20px;
    border-right: 2px solid white;
    padding-right: 20px;
}

.bag {
    margin-right: 20px;
    
}


.container1 {
    width: 100%;
}

.container1 img {
    width: 100%;
}
.second{
    display: flex;
    justify-content: center;
}

/* .s2{
    display: flex;
    align-items: center;
    justify-content:space-between;
} */
/* .search{
        width: 260px;
        border: 1px solid #555;
        display: block;
        padding: 9px 4px 9px 40px;
        background: transparent url("images/icons8-search-50.png" ) no-repeat 15px ;
    } */

.third{
    display: flex;
    /* margin-left: 10px; */
    justify-content:space-evenly;
    align-items: center;
    justify-self: center;
}