*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: aqua;
    width: 100vw;
    height: 60vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    flex-wrap: nowrap;
    /* flex-wrap: wrap; */
    /* flex-flow: column nowrap; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    justify-content: space-evenly;
    justify-content: space-around;
    align-items: center;
    align-items: flex-end;
    align-items: flex-start;
    /* align-items: stretch; */
}
.box{
    background-color: black;
    color: white;
    width: 250px;
    height: 150px;
    margin: 5px;
    text-align: center;
    padding: 50px;
}
.box1{
    order: 1;
    flex-grow: 3;
    flex-shrink: 3;
    /* flex-basis: 50px; controls width if flex-direction  */
    /* flex: flex-grow flex-shrink flex-basis; */
    flex: 0 0 50px ;
    align-self: flex-end;
    align-self: flex-start;
    align-self: center;

}
/* .box2{
    order: 2;
}
.box3{
    order: 3;
}
.box4{
    order: 4;
}
.box5{
    order: 5;
}
.box6{
    order: 6;
} */